# Importing libraries

In [26]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
# Save the trained model to a file
import joblib

# Load the dataset

In [2]:
data =pd.read_csv("salaries.csv")
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

# Data Preprocessing

In [3]:
data.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [4]:
# For exsample make a some statistics in this futcher 'TotalPay'
data['TotalPay'].mean()

74768.32197169267

In [5]:
data['TotalPay'].std()

50517.005273949944

In [6]:
# Get the range of 'TotalPay' -- range = max - min
rangTotalPay = (data['TotalPay'].max() - data['TotalPay'].min())
rangTotalPay

568213.56

## Data Cleaning

In [7]:
# Drop unimportant columns.
data.drop(['Id','Notes','Agency','Status','EmployeeName','JobTitle'], axis=1, inplace= True)

In [8]:
data

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011
1,155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011
3,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011
4,134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011
...,...,...,...,...,...,...,...
148649,0.00,0.00,0.00,0.0,0.00,0.00,2014
148650,NaN,NaN,NaN,NaN,0.00,0.00,2014
148651,NaN,NaN,NaN,NaN,0.00,0.00,2014
148652,NaN,NaN,NaN,NaN,0.00,0.00,2014
148653,0.00,0.00,-618.13,0.0,-618.13,-618.13,2014

In [9]:
# Fill mising value 
data.isnull().sum()

BasePay               609
OvertimePay             4
OtherPay                4
Benefits            36163
TotalPay                0
TotalPayBenefits        0
Year                    0
dtype: int64

In [10]:
# Fill mising value by mean 
mean_benefits = data['Benefits'].mean()
mean_benefits
data.fillna(mean_benefits, inplace = True)

In [11]:
data.isnull().sum()

BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
dtype: int64

In [12]:
# Show some statatisc in dataset after cleaning 
data.describe().round(2)

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148654.00,148654.00,148654.00,148654.00,148654.00,148654.00,148654.00
mean,66156.18,5066.60,3649.34,25007.89,74768.32,93692.55,2012.52
std,42758.47,11454.69,8057.26,13398.41,50517.01,62793.53,1.12
min,-166.01,-0.01,-7058.59,-33.89,-618.13,-618.13,2011.00
25%,32792.54,0.00,0.00,22342.30,36169.00,44065.65,2012.00
50%,64861.60,0.00,811.35,25007.89,71426.61,92404.09,2013.00
75%,94605.74,4658.67,4237.03,33468.98,105839.14,132876.45,2014.00
max,319275.01,245131.88,400184.25,96570.66,567595.43,567595.43,2014.00

In [13]:
data

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,167411.180000,0.000000,400184.250000,25007.893151,567595.43,567595.43,2011
1,155966.020000,245131.880000,137811.380000,25007.893151,538909.28,538909.28,2011
2,212739.130000,106088.180000,16452.600000,25007.893151,335279.91,335279.91,2011
3,77916.000000,56120.710000,198306.900000,25007.893151,332343.61,332343.61,2011
4,134401.600000,9737.000000,182234.590000,25007.893151,326373.19,326373.19,2011
...,...,...,...,...,...,...,...
148649,0.000000,0.000000,0.000000,0.000000,0.00,0.00,2014
148650,25007.893151,25007.893151,25007.893151,25007.893151,0.00,0.00,2014
148651,25007.893151,25007.893151,25007.893151,25007.893151,0.00,0.00,2014
148652,25007.893151,25007.893151,25007.893151,25007.893151,0.00,0.00,2014
148653,0.000000,0.000000,-618.130000,0.000000,-618.13,-618.13,2014

# Data Splitting

## Divide the dataset into features (X) and target variable (y)

In [14]:
# Split the data into features (X) and target variable (y)
x = data.drop(["TotalPay"], axis= 1)
y = data["TotalPay"]

## Split the data into training and testing sets

In [15]:
# Split the data into training and testing sets
x_train, x_test ,y_train ,y_test = train_test_split(x,y, test_size=0.2,random_state=2)

# Standardization

In [16]:
data.columns

Index(['BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay',
       'TotalPayBenefits', 'Year'],
      dtype='object')

In [27]:
# Select only the numerical columns for standardization
numerical_columns = [ 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits',
       'TotalPay', 'TotalPayBenefits', 'Year']

# Standardize the numerical columns
scaler = StandardScaler()
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

# Model Building

In [28]:
model = DecisionTreeRegressor(max_depth=5, random_state=42)

# Train the model

In [29]:
model.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=5, random_state=42)

# Predictions

In [30]:
y_pred = model.predict(x_test)

# Evaluation

In [31]:
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 46044729.4427135

In [32]:
x_train_predicition = model.predict(x_train)

In [33]:
r2 = r2_score(y_test, y_pred)

In [34]:
r2

0.9819710643340125

In [35]:
# Save the trained model to a file
joblib.dump(model, 'decision_tree_model.joblib')

['decision_tree_model.joblib']